
<div class="banner">
  <div class="container">
    <h1>WATCH LISTS</h1>
    <p>Record the movies you watch.</p>
    <%= link_to "Add new list", new_list_path, class: "btn btn-ghost" %>
  </div>
</div>


  <div class="list-cards">
    <% @lists.each do |list| %>
      <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.image_url %>)">

      <%= link_to list_path(list) do%>
      <%= list.name %>
      <% end %>
      </div>
    <% end %>
  </div>
