<div class="container">
  <h1><%= @person.name %></h1>
  <button class="btn btn-primary" id="show-cast">
    Cast
  </button>
  <button class="btn btn-secondary" id="show-crew">
    Crew
  </button>
  <div id="collapse-cast">
    <%= render "shared/movie_cards", movies: @movies_as_cast %>
  </div>
  <div class="d-none" id="collapse-crew">
    <%= render "shared/movie_cards", movies: @movies_as_crew %>
  </div>
</div>
<%= javascript_include_tag 'collapse' %>
