<div class="person-cards">
  <% people.each do |person| %>
    <div class="person-card">
      <img src="<%= person.profile_url %>" alt="<%= person.name %>">
      <div class="person-card-infos">
        <h2><%= person.name %></h2>
      </div>
    </div>
  <% end %>
</div>