<div class="person-cards">
  <% people.each do |person| %>
    <div class="person-card">
      <img src="<%= person.profile_url %>" alt="<%= person.name %>">
      <div class="person-card-infos">
        <h2><%= person.name %></h2>
      </div>
      <%= link_to new_person_bookmark_path(person), class: "btn-round right-corner" do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  <% end %>
</div>