.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: 0.3s ease;

  &:hover {
    font-size: large;
    transition: 0.3s ease;
    color: white;
    opacity: .6;
  }
}


.btn-round > img {
  color: white;
  width: 28px;
  margin-left: 8px;
  transition: 0.3s ease;

  &:hover {
    width: 32px;
    opacity: .6;
    transition: 0.3s ease;
  }
}
